* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

:root {

    /* Colors */

    --yellow-color : yellow;
    --black-color : black;
    --white-color: white;


}

body {

   
}


header {
   position: fixed;
   height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    transition: .6s;
    z-index: 100000;
    /* background-color: rgba(86,86,86,0.3);
    backdrop-filter: blur(10px); */
}

 
.header-container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
} 

header.nav-fixed {
    width: 100%;
    position: fixed;
    transition: 0.3s ease-in-out;
}

.nav-active {
     background-color: rgba(86,86,86,0.7);
     backdrop-filter: blur(10px);
    box-shadow: 5px -1px 12px -5px grey;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: black;
    opacity: .5;
    outline: 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition:.2s ease-out;
}

.show-links {
    height: 100vh;
}

ul {

}

li {
    list-style: none;
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
}

li a {
    text-decoration: none;
}

.hamburger {
    z-index: 1;
}

.line {
    width: 25px;
    height: 3px;
    margin: 3.5px 0;
    background-color: red;
}

.line-1 .transform {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.line-2 .transform {
    transform: translateY(90deg);
}

.line-3 .transform {
    transform: translate(1px, -1.5px) rotate(-50deg);
}

/* Sections */

.home {
    height: 100vh;
     background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.9)) , url("/images/pexels-isabella-mendes-1304469.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.services {
    background-color: white;
    height: 100vh;
  
}





